@font-face {
  font-family: "iconfont"; /* Project id 4186074 */
  src: url('iconfont.woff2?t=1693909235491') format('woff2'),
       url('iconfont.woff?t=1693909235491') format('woff'),
       url('iconfont.ttf?t=1693909235491') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tool-03:before {
  content: "\e6e8";
}

.icon-tool-05:before {
  content: "\e6e3";
}

.icon-tool-02:before {
  content: "\e6e4";
}

.icon-tool-06:before {
  content: "\e6e5";
}

.icon-tool-07:before {
  content: "\e6e6";
}

.icon-tool-04:before {
  content: "\e6e7";
}

.icon-tool-01:before {
  content: "\e6e2";
}

